<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=" log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger: %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger: %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="UserNameCloud.local" value="" />
    <add key="AccessKeyCloud.local" value="" />
    <add key="ServerHost.local" value="localhost" />
    <add key="ServerPort.local" value="4444" />
    <add key="WebDriverVersionCloud.local" value="" />
    <add key="AppiumVersionCloud.local" value="" />

    <add key="UserNameCloud.grid" value="" />
    <add key="AccessKeyCloud.grid" value="" />
    <add key="ServerHost.grid" value="10.52.83.95" />
    <add key="ServerPort.grid" value="4444" />
    <add key="WebDriverVersionCloud.grid" value="" />
    <add key="AppiumVersionCloud.grid" value="" />

    <add key="UserNameCloud.sauce_labs" value="pearson" />
    <add key="AccessKeyCloud.sauce_labs" value="e1bf7c9b-a3be-44ab-8528-7be98b30b978" />
    <!--http://ondemand.saucelabs.com/wd/hub-->
    <!--http://YOUR_USERNAME:YOUR_ACCESS_KEY@ondemand.saucelabs.com:80/wd/hub-->
    <add key="ServerHost.sauce_labs" value="ondemand.saucelabs.com" />
    <add key="ServerPort.sauce_labs" value="80" />
    <add key="WebDriverVersionCloud.sauce_labs" value="2.45.0" />
    <add key="AppiumVersionCloud.sauce_labs" value="1.3" />

    <add key="UserNameCloud.browserstack" value="martin395" />
    <add key="AccessKeyCloud.browserstack" value="V9sX6iZncennxqLbTqxZ" />
    <add key="ServerHost.browserstack" value="http://hub.browserstack.com/wd/hub/" />
    <add key="ServerPort.browserstack" value="0" />
    <add key="WebDriverVersionCloud.browserstack" value="2.45.0" />
    <add key="AppiumVersionCloud.browserstack" value="1.3" />

    <add key="WebDriverCommandTimeout.local" value="60" />
    <add key="ImplicitTimeOut.local" value="5" />
    <add key="PageLoadTimeOut.local" value="60" />
    <add key="JavaScriptTimeOut.local" value="60" />

    <add key="WebDriverCommandTimeout.grid" value="90" />
    <add key="ImplicitTimeOut.grid" value="5" />
    <add key="PageLoadTimeOut.grid" value="120" />
    <add key="JavaScriptTimeOut.grid" value="60" />

    <add key="WebDriverCommandTimeout.sauce_labs" value="90" />
    <add key="ImplicitTimeOut.sauce_labs" value="5" />
    <add key="PageLoadTimeOut.sauce_labs" value="120" />
    <add key="JavaScriptTimeOut.sauce_labs" value="60" />

    <add key="WebDriverCommandTimeout.browserstack" value="90" />
    <add key="ImplicitTimeOut.browserstack" value="5" />
    <add key="PageLoadTimeOut.browserstack" value="120" />
    <add key="JavaScriptTimeOut.browserstack" value="60" />

    <add key="Resolution.windows" value="1024x768" />
    <add key="Resolution.mac" value="1024x768" />
    <add key="Resolution.linux" value="1024x768" />

    <add key="InternetExplorerDriverServerDirectory.windows" value="C:\Selenium\" />
    <add key="ChromeDriverServerDirectory.windows" value="C:\chromedriver\" />
    <add key="ChromeDriverServerDirectory.mac" value="" />
    <add key="ChromeDriverServerDirectory.linux" value="" />
    <add key="FirefoxBinaryPath.windows" value="C:\Program Files\Mozilla Firefox\firefox.exe" />
    <add key="FirefoxBinaryPath.mac" value="" />
    <add key="FirefoxBinaryPath.linux" value="" />

    <add key="ApplicationPath.schoolnetsingletenant.automation" value="https://team-automation-st.sndev.net" />
    <add key="ApplicationPath.schoolnetmultitenant.automation" value="https://team-automation-mt.sndev.net" />
    <add key="ApplicationPath.schoolnetsingletenant.epic" value="https://team-epic-st.sndev.net/" />
    <add key="ApplicationPath.schoolnetmultitenant.epic" value="https://team-epic-mt.sndev.net/" />
    <add key="ApplicationPath.schoolnetsingletenant.qa170" value="http://qa-170st.sndev.net/" />
    <add key="ApplicationPath.schoolnetmultitenant.qa170" value="http://qa-170mt.sndev.net/" />

    <add key="OperatingSystemName.schoolnetsingletenant.windows.local" value="WINDOWS" />
    <add key="OperatingSystemName.schoolnetsingletenant.windows.grid" value="WINDOWS" />
    <add key="OperatingSystemName.schoolnetsingletenant.windows.sauce_labs" value="WINDOWS" />
    <add key="OperatingSystemName.schoolnetsingletenant.mac.local" value="MAC" />
    <add key="OperatingSystemName.schoolnetsingletenant.mac.grid" value="MAC" />
    <add key="OperatingSystemName.schoolnetsingletenant.mac.sauce_labs" value="MAC" />
    <add key="OperatingSystemName.schoolnetsingletenant.linux.local" value="LINUX" />
    <add key="OperatingSystemName.schoolnetsingletenant.linux.grid" value="LINUX" />
    <add key="OperatingSystemName.schoolnetsingletenant.linux.sauce_labs" value="LINUX" />
    <add key="OperatingSystemName.schoolnetsingletenant.android.local" value="ANDROID" />
    <add key="OperatingSystemName.schoolnetsingletenant.android.grid" value="ANDROID" />
    <add key="OperatingSystemName.schoolnetsingletenant.android.sauce_labs" value="ANDROID" />
    <add key="OperatingSystemName.schoolnetsingletenant.ios.local" value="IOS" />
    <add key="OperatingSystemName.schoolnetsingletenant.ios.grid" value="IOS" />
    <add key="OperatingSystemName.schoolnetsingletenant.ios.sauce_labs" value="IOS" />
    <add key="OperatingSystemName.schoolnetsingletenant.web.local" value="LINUX" />
    <add key="OperatingSystemName.schoolnetsingletenant.web.grid" value="LINUX" />
    <add key="OperatingSystemName.schoolnetsingletenant.web.sauce_labs" value="LINUX" />

    <add key="OperatingSystemName.schoolnetmultitenant.windows.local" value="WINDOWS" />
    <add key="OperatingSystemName.schoolnetmultitenant.windows.grid" value="WINDOWS" />
    <add key="OperatingSystemName.schoolnetmultitenant.windows.sauce_labs" value="WINDOWS" />
    <add key="OperatingSystemName.schoolnetmultitenant.mac.local" value="MAC" />
    <add key="OperatingSystemName.schoolnetmultitenant.mac.grid" value="MAC" />
    <add key="OperatingSystemName.schoolnetmultitenant.mac.sauce_labs" value="MAC" />
    <add key="OperatingSystemName.schoolnetmultitenant.linux.local" value="LINUX" />
    <add key="OperatingSystemName.schoolnetmultitenant.linux.grid" value="LINUX" />
    <add key="OperatingSystemName.schoolnetmultitenant.linux.sauce_labs" value="LINUX" />
    <add key="OperatingSystemName.schoolnetmultitenant.android.local" value="ANDROID" />
    <add key="OperatingSystemName.schoolnetmultitenant.android.grid" value="ANDROID" />
    <add key="OperatingSystemName.schoolnetmultitenant.android.sauce_labs" value="ANDROID" />
    <add key="OperatingSystemName.schoolnetmultitenant.ios.local" value="IOS" />
    <add key="OperatingSystemName.schoolnetmultitenant.ios.grid" value="IOS" />
    <add key="OperatingSystemName.schoolnetmultitenant.ios.sauce_labs" value="IOS" />
    <add key="OperatingSystemName.schoolnetmultitenant.web.local" value="LINUX" />
    <add key="OperatingSystemName.schoolnetmultitenant.web.grid" value="LINUX" />
    <add key="OperatingSystemName.schoolnetmultitenant.web.sauce_labs" value="LINUX" />

    <add key="DeviceName.schoolnet.windows_phone_web.local" value="Windows Phone" />
    <add key="DeviceName.schoolnet.windows_phone_web.grid" value="Windows Phone" />
    <add key="DeviceName.schoolnet.windows_phone_web.sauce_labs" value="Windows Phone" />
    <add key="DeviceType.schoolnet.windows_phone_web.local" value="" />
    <add key="DeviceType.schoolnet.windows_phone_web.grid" value="" />
    <add key="DeviceType.schoolnet.windows_phone_web.sauce_labs" value="" />
    <add key="DeviceOrientation.schoolnet.windows_phone_web.local" value="portrait" />
    <add key="DeviceOrientation.schoolnet.windows_phone_web.grid" value="portrait" />
    <add key="DeviceOrientation.schoolnet.windows_phone_web.sauce_labs" value="portrait" />

    <add key="DeviceName.schoolnet.windows_tablet_web.local" value="Surface Pro" />
    <add key="DeviceName.schoolnet.windows_tablet_web.grid" value="Surface Pro" />
    <add key="DeviceName.schoolnet.windows_tablet_web.sauce_labs" value="Surface Pro" />
    <add key="DeviceType.schoolnet.windows_tablet_web.local" value="" />
    <add key="DeviceType.schoolnet.windows_tablet_web.grid" value="" />
    <add key="DeviceType.schoolnet.windows_tablet_web.sauce_labs" value="" />
    <add key="DeviceOrientation.schoolnet.windows_tablet_web.local" value="landscape" />
    <add key="DeviceOrientation.schoolnet.windows_tablet_web.grid" value="landscape" />
    <add key="DeviceOrientation.schoolnet.windows_tablet_web.sauce_labs" value="landscape" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5674.19278" newVersion="3.0.5674.19278" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>